body, html {
    background-color: rgb(0, 0, 0);
    background-image: url("./background.png");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}
p {
    color: white;
}
h1 {
    font-size: 50px;
}
h2{
    color: white;
    text-decoration: underline;
}
.title {
    text-align: center;
    color: #ffffff;
    margin-top: 250px;
    margin-bottom: 0;
    padding: 0;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh; 
    z-index: 10;
}

.homepage-header {
    top: 10vh; 
    
  }

.video-background {
    position: relative;
    width: 100%; 
    height: 100vh; 
    overflow: hidden; 
}

#bgVideo {
    width: 100%; 
    height: 100%;
    object-fit: contain; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.foreground-image {
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

.header-background {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    z-index: 1; 
}
.header-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    z-index: 1; 
}
.video-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 8.5vh;
    z-index: 3;
}

.video {
    height: 5vh; 
    flex-grow: 0; 
    flex-shrink: 0; 
    object-fit: cover; 
    opacity: 0;
}

@media (max-width: 2300px) {
    #bgVideo {
        top: 49%;
    }
}
@media (max-width: 2215px) {
    #bgVideo {
        top: 48%;
    }
}
@media (max-width: 2150px) {
    #bgVideo {
        top: 47%;
    }
}

@media (max-width: 2209px) {
    #bgVideo {
        top: 44%;
    }
}

@media (max-width: 1950px) {
    #bgVideo {
        top: 40%;
    }
}

@media (max-width: 1800px) {
    #bgVideo {
        top: 38%;
    }
}

@media (max-width: 1600px) {
    #bgVideo {
        top: 35%;
    }
}

@media (max-width: 1200px) {
    .video-link {
        max-width: 350px;
    }
    .video {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 1100px) {
    .video-link {
        max-width: 300px; 
    }
    .video {
        max-width: 300px;
        height: auto;
    }
}

@media (max-width: 1000px) {
    .video-link {
        max-width: 280px; 
    }
    .video {
        max-width: 280px;
        height: auto;
    }
    .video-grid {
        top: 8vh; 
    }
    
}

@media (max-width: 950px) {
    .video-link {
        max-width: 270px; 
    }
    .video {
        max-width: 270px;
    }
    .video-grid {
        top: 7.6vh; 
    }

}
@media (max-width: 900px) {
    .video-link {
        max-width: 240px; 
    }
    .video {
        max-width: 240px;
    }
    .video-grid {
        top: 7.2vh; 
    }
}

@media (max-width: 800px) {
    .video-link {
        max-width: 200px; 
    }
    .video {
        max-width: 200px;
    }
    .video-grid {
        top: 6.8vh; 
    }
}

@media (max-width: 600px) {
    .video-link {
        max-width: 150px; 
    }
    .video {
        max-width: 150px;
    }
    .video-grid {
        top: 6.3vh; 
    }
   
}




#video1 {
    animation: fadeIn .1s ease forwards .1s; 
}

#video2 {
    animation: fadeIn .1s ease forwards 1.417s; 
}

#video3 {
    animation: fadeIn .1s ease forwards 2.793s; 
}


.video-link {
    position: relative;
    display: block;
    width: auto; 
    height: 5vh; 
}

.video-link .video {
    width: auto; 
    height: 100%; 
    object-fit: contain;
    opacity: 1; 
}

.video-link .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 1s ease;
    z-index: 2;
}

.video-link .hover-image {
   
    transition: opacity 1s ease;
    z-index: 2;
    pointer-events: none; 
}


.video-link.activate-hover:hover .hover-image {
    opacity: 1;
}


.login-message {
    position: absolute;
    right: 54vw; 
    top: 5vh;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vh; 
    z-index: 5; 
    white-space: nowrap;
}
    @media (max-width: 1100px) {
        .login-message {
            right: 63vw; 
            top: 5.5vh; 
            font-size: 1.2vh; 
        }
}
@media (max-width: 1000px) {
    .login-message {
        right: 61vw; 
        top: 5.8vh; 
        font-size: 1.2vh; 
    }
}

@media (max-width: 900px) {
    .login-message {
        right: 60vw; 
        top: 5.8vh; 
        font-size: 1.1vh; 
    }
}
@media (max-width: 850px) {
    .login-message {
        right: 58vw; 
        top: 5.8vh; 
        font-size: 1.1vh; 
    }
}

@media (max-width: 800px) {
    .login-message {
        right: 55vw; 
        top: 5.8vh; 
        font-size: 1.1vh; 
    }
}
@media (max-width: 700px) {
    .login-message {
        right: 55vw; 
        top: 6vh; 
        font-size: 1vh; 
    }
}
@media (max-width: 650px) {
    .login-message {
        right: 56vw; 
        top: 6.5vh; 
        font-size: .9vh; 
    }
}
@media (max-width: 600px) {
    .login-message {
        right: 56vw; 
        top: 6.5vh; 
        font-size: .8vh; 
    }
}@media (max-width: 500px) {
    .login-message {
        right: 56vw; 
        top: 6.5vh; 
        font-size: .7vh; 
    }
}
.container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    height: 100vh; 
    overflow-y: auto;
    margin-top: 0;
    padding-top: 0;
    width: 100%; 
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px; 
    margin-left: auto; 
    margin-right: auto; 
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

.cell {
    flex: 0 0 50%; 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex-grid .cell:nth-child(2n) {
    margin-right: 0;
}

.flex-grid .cell:nth-child(2n + 1) {
    clear: left;
}

.flex-grid .cell:nth-child(1),
.flex-grid .cell:nth-child(2) {
    border-bottom: 2px solid #ffffff; 
}
.text-cell {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding: 20px; 
    border: none;
}

.photo-cell {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding-bottom: 20px;
}

.photo-cell img {
    width: auto; 
    height: auto; 
    max-width: 100%; 
    margin-bottom: 0;
}

.photo-cell a {
    color: #ffffff;
    text-decoration: none; 
    transition: color 0.3s ease; 
    padding: 2px;
}

.photo-cell a:hover {
    color: #000000; 
    background-color: #ffffff;
}
